h1 {
  text-align: center;
}
h3 {
  margin-left: 40px;
  margin-top: 30px;
}
.slidingDiv {
  margin-bottom: 30px;
  position: absolute;
  background-color: rgb(42, 160, 42);
}
.slidingDiv ul {
  list-style: upper-roman;
  padding: 20px;
}
.slidingDiv code {
  background-color: white;
}
.show_hide h3 {
  width: 300px;
}
.show_hide {
  display: none;
}

form {
  max-width: 400px;
  padding: 10px;
}

input,
button {
  margin: 5px;
}
